name: Test

on:
    push:
        branches:
            - "*"
    pull_request:
        types: ["opened", "reopened", "synchronize"]

jobs:
    build:
        name: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install llvm and clang
              run: sudo apt-get install llvm clang
            - name: Install CMake
              run: sudo apt-get install cmake
            - name: Install Ninja
              run: sudo apt-get install ninja-build
            - name: Install Emscripten
              uses: mymindstorm/setup-emsdk@v14
              with:
                  version: 4.0.23

            - name: Install Node
              uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - name: Build
              run: ./scripts/build.sh

            - name: Pack
              run: cd pkg && npm pack

            - name: Upload
              uses: actions/upload-artifact@v7
              with:
                  name: build
                  path: pkg

    node-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/

            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - run: node --test "test_node/*.mjs"

    cli-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/

            - uses: actions/setup-node@v6
              with:
                  node-version-file: ".node-version"

            - run: node pkg/clang-format-cli.cjs -i test_data_cli/*.cc
            - run: git diff --exit-code

    deno-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/

            - uses: denoland/setup-deno@v1
              with:
                  deno-version: 2.x

            - run: deno test --allow-read

    bun-test:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v6
            - uses: actions/download-artifact@v7
              with:
                  name: build
                  path: pkg/

            - uses: oven-sh/setup-bun@v2
              name: Install bun

            - run: bun test test_bun --timeout 10000
